body{
    background-color: #d0f0e4;
}
th{
    font-size: 1.8rem;
}
td{
    font-size: 1.3rem;
}
input{
    margin: .5rem 0rem;     
}
.searchBox{
    margin: 1.7rem .1rem;
}
.posterImg{
    max-height: 20rem;
}
.hiddenButton{
    display: none; 
    margin: .5rem 0rem;   
}
.movieInputRow{
    display: none;
}
#movieInputRowROW td{
    line-height: 0;
    padding: 0px;
}
