th{
    font-size: 1.8rem;
    vertical-align: middle;
}
td{
    font-size: 1.3rem;
    vertical-align: middle; 
}
input{
    margin: .5rem 0rem;     
}
.searchBox{
    margin: 1.7rem .1rem;
}
.posterImg{
    max-height: 20rem;
}
.hiddenButton{
    display: none; 
    margin: .5rem 0rem;   
}
#addMovieInputRow{
    display: none;
}